@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing:border-box;
}

body{
  background-color: #FCF0CC;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

nav {
  background-color: #861657;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav a {
  color: #fff;
  position: relative;
  margin-left: 30px;
  text-decoration: none;
}

header{
  background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  backgorund-position: center center;
  position: relative;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
}

header h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: -20px;
}

header p {
  font-size: 30px;
  margin: 0;
}

header * {
  position: relative;
  z-index:1;
}

section {
  padding: 40px;
  text-align: center;
}

section h2{
  margin-bottom: 0;
}

section p{
  margin-top: 0;
}

.contact-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-ul a {
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 5px 10px;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.bg-pink{
  background-color: #A64253;
  color: #fff;
}

footer{
  background-color: #861657;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer .fa-heart{
  color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  display: inline-block;
  padding: 12px 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 20px;
  background: grey;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #09c46b;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#show{
  padding-top: 30px;
}

#project{
  padding-bottom: 20px;
}